﻿@{
    ViewBag.Title = "Contact";
}
<h2>You like? Yes?!?</h2>
<h3>Well, then call me!</h3>



<address>
    <strong>Email</strong>   <a href="mailto:Miltopgert@gmail.com">Miltopgert@gmail.com</a><br />
    <strong>Mobile</strong> 522 4646 aka 52 BINGO</a><br />
</address>