﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Register</h1>

    <p>
        Please enter your name and pick the Sectors you are currently involved in.
    </p>
 
        <form action="" method="post">
        <p>
            <input required type="text" placeholder="Insert your name" name="Name" value="@Request.Form["Name"]">
        </p>
        <!--

        Seems that there are enough material on how to populate dropdown list with database fields, but at the moment they remain mysterious to me :)
        but I made all the fields mandatory and used optgroupes to reduce the use of non/breaking spaces.

        -->
        <p>
            <select required multiple size="7" name="Choices" value="@Request.Form["Choices"]">
                <optgroup label="Manufacturing">
                    <option value="19">Construction materials</option>
                    <option value="18">Electronics and Optics</option>
                    <option value="6">Food and Beverage</option>
                    <option value="342">&nbsp;&nbsp;&nbsp;&nbsp;Bakery &amp; confectionery products</option>
                    <option value="43">&nbsp;&nbsp;&nbsp;&nbsp;Beverages</option>
                    <option value="42">&nbsp;&nbsp;&nbsp;&nbsp;Fish &amp; fish products </option>
                    <option value="40">&nbsp;&nbsp;&nbsp;&nbsp;Meat &amp; meat products</option>
                    <option value="39">&nbsp;&nbsp;&nbsp;&nbsp;Milk &amp; dairy products </option>
                    <option value="437">&nbsp;&nbsp;&nbsp;&nbsp;Other</option>
                    <option value="378">&nbsp;&nbsp;&nbsp;&nbsp;Sweets &amp; snack food</option>
                    <option value="13">Furniture</option>
                    <option value="389">&nbsp;&nbsp;&nbsp;&nbsp;Bathroom/sauna </option>
                    <option value="385">&nbsp;&nbsp;&nbsp;&nbsp;Bedroom</option>
                    <option value="390">&nbsp;&nbsp;&nbsp;&nbsp;Children’s room </option>
                    <option value="98">&nbsp;&nbsp;&nbsp;&nbsp;Kitchen </option>
                    <option value="101">&nbsp;&nbsp;&nbsp;&nbsp;Living room </option>
                    <option value="392">&nbsp;&nbsp;&nbsp;&nbsp;Office</option>
                    <option value="394">&nbsp;&nbsp;&nbsp;&nbsp;Other (Furniture)</option>
                    <option value="341">&nbsp;&nbsp;&nbsp;&nbsp;Outdoor </option>
                    <option value="99">&nbsp;&nbsp;&nbsp;&nbsp;Project furniture</option>
                    <option value="12">Machinery</option>
                    <option value="94">&nbsp;&nbsp;&nbsp;&nbsp;Machinery components</option>
                    <option value="91">&nbsp;&nbsp;&nbsp;&nbsp;Machinery equipment/tools</option>
                    <option value="224">&nbsp;&nbsp;&nbsp;&nbsp;Manufacture of machinery </option>
                    <option value="97">&nbsp;&nbsp;&nbsp;&nbsp;Maritime</option>
                    <option value="271">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aluminium and steel workboats </option>
                    <option value="269">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Boat/Yacht building</option>
                    <option value="230">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ship repair and conversion</option>
                    <option value="93">&nbsp;&nbsp;&nbsp;&nbsp;Metal structures</option>
                    <option value="508">&nbsp;&nbsp;&nbsp;&nbsp;Other</option>
                    <option value="227">&nbsp;&nbsp;&nbsp;&nbsp;Repair and maintenance service</option>
                    <option value="11">Metalworking</option>
                    <option value="67">&nbsp;&nbsp;&nbsp;&nbsp;Construction of metal structures</option>
                    <option value="263">&nbsp;&nbsp;&nbsp;&nbsp;Houses and buildings</option>
                    <option value="267">&nbsp;&nbsp;&nbsp;&nbsp;Metal products</option>
                    <option value="542">&nbsp;&nbsp;&nbsp;&nbsp;Metal works</option>
                    <option value="75">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CNC-machining</option>
                    <option value="62">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forgings, Fasteners </option>
                    <option value="69">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gas, Plasma, Laser cutting</option>
                    <option value="66">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIG, TIG, Aluminum welding</option>
                    <option value="9">Plastic and Rubber</option>
                    <option value="54">&nbsp;&nbsp;&nbsp;&nbsp;Packaging</option>
                    <option value="556">&nbsp;&nbsp;&nbsp;&nbsp;Plastic goods</option>
                    <option value="559">&nbsp;&nbsp;&nbsp;&nbsp;Plastic processing technology</option>
                    <option value="55">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blowing</option>
                    <option value="57">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moulding</option>
                    <option value="53">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plastics welding and processing</option>
                    <option value="560">&nbsp;&nbsp;&nbsp;&nbsp;Plastic profiles</option>
                    <option value="5">Printing </option>
                    <option value="148">&nbsp;&nbsp;&nbsp;&nbsp;Advertising</option>
                    <option value="150">&nbsp;&nbsp;&nbsp;&nbsp;Book/Periodicals printing</option>
                    <option value="145">&nbsp;&nbsp;&nbsp;&nbsp;Labelling and packaging printing</option>
                    <option value="7">Textile and Clothing</option>
                    <option value="44">&nbsp;&nbsp;&nbsp;&nbsp;Clothing</option>
                    <option value="45">&nbsp;&nbsp;&nbsp;&nbsp;Textile</option>
                    <option value="8">Wood</option>
                    <option value="337">&nbsp;&nbsp;&nbsp;&nbsp;Other (Wood)</option>
                    <option value="51">&nbsp;&nbsp;&nbsp;&nbsp;Wooden building materials</option>
                    <option value="47">&nbsp;&nbsp;&nbsp;&nbsp;Wooden houses</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="37">&nbsp;&nbsp;&nbsp;&nbsp;Creative industries</option>
                    <option value="29">&nbsp;&nbsp;&nbsp;&nbsp;Energy technology</option>
                    <option value="33">&nbsp;&nbsp;&nbsp;&nbsp;Environment</option>
                </optgroup>
                <optgroup label="Services">
                    <option value="25">Business services</option>
                    <option value="35">Engineering</option>
                    <option value="28">Information Technology and Telecommunications</option>
                    <option value="581">&nbsp;&nbsp;&nbsp;&nbsp;Data processing, Web portals, E-marketing</option>
                    <option value="576">&nbsp;&nbsp;&nbsp;&nbsp;Programming, Consultancy</option>
                    <option value="121">&nbsp;&nbsp;&nbsp;&nbsp;Software, Hardware</option>
                    <option value="122">&nbsp;&nbsp;&nbsp;&nbsp;Telecommunications</option>
                    <option value="22">Tourism</option>
                    <option value="141">Translation services</option>
                    <option value="21">Transport and Logistics</option>
                    <option value="111">&nbsp;&nbsp;&nbsp;&nbsp;Air</option>
                    <option value="114">&nbsp;&nbsp;&nbsp;&nbsp;Rail</option>
                    <option value="112">&nbsp;&nbsp;&nbsp;&nbsp;Road</option>
                    <option value="113">&nbsp;&nbsp;&nbsp;&nbsp;Water</option>
                </optgroup>
            </select>
        </p>
        <p>
            <input required type="checkbox" default="false" name="Terms" value="@Request.Form["Terms"]"> Agree to terms
        </p>
        <p>
          <input type="submit" value="Save" name="upload">
        </p>
        </form>


</div>
