﻿@model Helmes_Reg.Helmes_Entries_db

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Helmes_Entries_db</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sectors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sectors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
