﻿@model IEnumerable<Helmes_Reg.Helmes_Entries_db>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sectors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sectors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EntryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EntryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EntryID })
        </td>
    </tr>
}

</table>
